<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <!--    General Settings    -->
    <card>
        <title>General</title>
        <title lang="de-DE">Allgemein</title>
        <input-field type="single-select">
            <name>enabled</name>
            <label>Status</label>
            <label lang="de-DE">Status</label>
            <options>
                <option>
                    <id>true</id>
                    <name lang="de-DE">aktiviert</name>
                    <name>Enabled</name>
                </option>
                <option>
                    <id>false</id>
                    <name lang="de-DE">deaktiviert</name>
                    <name>Disabled</name>
                </option>
            </options>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field type="text">
            <name>publicKey</name>
            <label>Public Key</label>
            <label lang="de-DE">Public Key</label>
        </input-field>
        <input-field type="password">
            <name>privateKey</name>
            <label>Private Key</label>
            <label lang="de-DE">Private Key</label>
        </input-field>
        <input-field type="single-select">
            <name>collectEmails</name>
            <label lang="de-DE">E-Mails sammeln</label>
            <label>Collect Emails</label>
            <options>
                <option>
                    <id>false</id>
                    <name lang="de-DE">Nein</name>
                    <name>No</name>
                </option>
                <option>
                    <id>true</id>
                    <name lang="de-DE">Ja</name>
                    <name>Yes</name>
                </option>
            </options>
            <defaultValue>true</defaultValue>
            <required>true</required>
        </input-field>
        <component name="clerk-api-test-button">
            <name>apiTest</name>
            <label> </label>
            <label lang="de-DE"> </label>
        </component>
    </card>

    <card>
        <title>Multi Language Key Config</title>
        <title lang="de-DE">Mehrsprachige Schlüsselkonfiguration</title>
        <component name="sw-entity-multi-id-select">
            <name>selectedLanguages</name>
            <entity>language</entity>
            <label>Choose the languages you wish to override config for</label>
            <label lang="de-DE">Wählen Sie die Sprachen aus, für die Sie die Konfiguration überschreiben möchten</label>
        </component>
        <input-field type="textarea">
            <name>customKeyConfig</name>
            <label>Provide public keys on each line in the same order of the chosen languages</label>
            <label lang="de-DE">Geben Sie in jeder Zeile öffentliche Schlüssel in der gleichen Reihenfolge der ausgewählten Sprachen an</label>
        </input-field>
    </card>

    <!--    Instant Search Settings    -->
    <card>
        <title>Instant Search Settings</title>
        <title lang="de-DE">Einstellungen für die Sofortsuche</title>
        <input-field type="single-select">
            <name>instantSearchEnabled</name>
            <label>Status</label>
            <label lang="de-DE">Status</label>
            <options>
                <option>
                    <id>true</id>
                    <name>Enabled</name>
                    <name lang="de-DE">aktiviert</name>
                </option>
                <option>
                    <id>false</id>
                    <name>Disabled</name>
                    <name lang="de-DE">deaktiviert</name>
                </option>
            </options>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field type="single-select">
            <name>instantSearchNumberOfSuggestions</name>
            <label>Number Of Suggestions</label>
            <label lang="de-DE">Anzahl der Vorschläge</label>
            <options>
                <option>
                    <id>0</id>
                    <name>0</name>
                </option>
                <option>
                    <id>1</id>
                    <name>1</name>
                </option>
                <option>
                    <id>2</id>
                    <name>2</name>
                </option>
                <option>
                    <id>3</id>
                    <name>3</name>
                </option>
                <option>
                    <id>4</id>
                    <name>4</name>
                </option>
                <option>
                    <id>5</id>
                    <name>5</name>
                </option>
                <option>
                    <id>6</id>
                    <name>6</name>
                </option>
                <option>
                    <id>7</id>
                    <name>7</name>
                </option>
                <option>
                    <id>8</id>
                    <name>8</name>
                </option>
                <option>
                    <id>9</id>
                    <name>9</name>
                </option>
                <option>
                    <id>10</id>
                    <name>10</name>
                </option>
            </options>
            <defaultValue>5</defaultValue>
        </input-field>
        <input-field type="single-select">
            <name>instantSearchNumberOfCategories</name>
            <label>Number Of Categories</label>
            <label lang="de-DE">Anzahl der Kategorien</label>
            <options>
                <option>
                    <id>0</id>
                    <name>0</name>
                </option>
                <option>
                    <id>1</id>
                    <name>1</name>
                </option>
                <option>
                    <id>2</id>
                    <name>2</name>
                </option>
                <option>
                    <id>3</id>
                    <name>3</name>
                </option>
                <option>
                    <id>4</id>
                    <name>4</name>
                </option>
                <option>
                    <id>5</id>
                    <name>5</name>
                </option>
                <option>
                    <id>6</id>
                    <name>6</name>
                </option>
                <option>
                    <id>7</id>
                    <name>7</name>
                </option>
                <option>
                    <id>8</id>
                    <name>8</name>
                </option>
                <option>
                    <id>9</id>
                    <name>9</name>
                </option>
                <option>
                    <id>10</id>
                    <name>10</name>
                </option>
            </options>
            <defaultValue>5</defaultValue>
        </input-field>
        <input-field type="single-select">
            <name>instantSearchNumberOfPages</name>
            <label>Number Of Pages</label>
            <label lang="de-DE">Anzahl der Seiten</label>
            <options>
                <option>
                    <id>0</id>
                    <name>0</name>
                </option>
                <option>
                    <id>1</id>
                    <name>1</name>
                </option>
                <option>
                    <id>2</id>
                    <name>2</name>
                </option>
                <option>
                    <id>3</id>
                    <name>3</name>
                </option>
                <option>
                    <id>4</id>
                    <name>4</name>
                </option>
                <option>
                    <id>5</id>
                    <name>5</name>
                </option>
                <option>
                    <id>6</id>
                    <name>6</name>
                </option>
                <option>
                    <id>7</id>
                    <name>7</name>
                </option>
                <option>
                    <id>8</id>
                    <name>8</name>
                </option>
                <option>
                    <id>9</id>
                    <name>9</name>
                </option>
                <option>
                    <id>10</id>
                    <name>10</name>
                </option>
            </options>
            <defaultValue>5</defaultValue>
        </input-field>
        <input-field type="single-select">
            <name>instantSearchPageTypes</name>
            <label>Page Types</label>
            <label lang="de-DE">Seitentypen</label>
            <options>
                <option>
                    <id>all</id>
                    <name>Alle</name>
                </option>
            </options>
            <defaultValue>all</defaultValue>
        </input-field>
        <input-field type="single-select">
            <name>instantSearchDropdownPositioning</name>
            <label>Dropdown Positioning</label>
            <label lang="de-DE">Dropdown-Positionierung</label>
            <options>
                <option>
                    <id>left</id>
                    <name>links</name>
                </option>
                <option>
                    <id>center</id>
                    <name>mittig</name>
                </option>
                <option>
                    <id>right</id>
                    <name>rechts</name>
                </option>
                <option>
                    <id>below</id>
                    <name>below</name>
                </option>
                <option>
                    <id>off</id>
                    <name>off</name>
                </option>
            </options>
            <defaultValue>left</defaultValue>
        </input-field>
        <input-field type="text">
            <name>instantSearchContent</name>
            <label>Content</label>
            <label lang="de-DE">Inhalt</label>
            <defaultValue>live-search</defaultValue>
        </input-field>
        <input-field type="text">
            <name>instantSearchInputSelector</name>
            <label>Input Selector</label>
            <label lang="de-DE">Eingangsselektor</label>
        </input-field>
        <input-field type="text">
            <name>instantSearchFormSelector</name>
            <label>Form Selector</label>
            <label lang="de-DE">Formularauswahl</label>
        </input-field>
    </card>
    <!--    Search Page Settings    -->
    <card>
        <title>Search Page Settings</title>
        <title lang="de-DE">Suchseiteneinstellungen</title>
        <input-field type="single-select">
            <name>searchPageEnabled</name>
            <label>Status</label>
            <label lang="de-DE">Status</label>
            <options>
                <option>
                    <id>true</id>
                    <name>Enabled</name>
                    <name lang="de-DE">aktiviert</name>
                </option>
                <option>
                    <id>false</id>
                    <name>Disabled</name>
                    <name lang="de-DE">deaktiviert</name>
                </option>
            </options>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field type="single-select">
            <name>searchCategoriesEnabled</name>
            <label>Include Categories</label>
            <label lang="de-DE">Kategorien einschließen</label>
            <options>
                <option>
                    <id>true</id>
                    <name>Enabled</name>
                    <name lang="de-DE">aktiviert</name>
                </option>
                <option>
                    <id>false</id>
                    <name>Disabled</name>
                    <name lang="de-DE">deaktiviert</name>
                </option>
            </options>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field type="single-select">
            <name>searchNumberOfCategories</name>
            <label>Number Of Categories</label>
            <label lang="de-DE">Anzahl der Kategorien</label>
            <options>
                <option>
                    <id>0</id>
                    <name>0</name>
                </option>
                <option>
                    <id>1</id>
                    <name>1</name>
                </option>
                <option>
                    <id>2</id>
                    <name>2</name>
                </option>
                <option>
                    <id>3</id>
                    <name>3</name>
                </option>
                <option>
                    <id>4</id>
                    <name>4</name>
                </option>
                <option>
                    <id>5</id>
                    <name>5</name>
                </option>
                <option>
                    <id>6</id>
                    <name>6</name>
                </option>
                <option>
                    <id>7</id>
                    <name>7</name>
                </option>
                <option>
                    <id>8</id>
                    <name>8</name>
                </option>
                <option>
                    <id>9</id>
                    <name>9</name>
                </option>
                <option>
                    <id>10</id>
                    <name>10</name>
                </option>
            </options>
            <defaultValue>5</defaultValue>
        </input-field>
        <input-field type="single-select">
            <name>searchNumberOfPages</name>
            <label>Number Of Pages</label>
            <label lang="de-DE">Anzahl der Seiten</label>
            <options>
                <option>
                    <id>0</id>
                    <name>0</name>
                </option>
                <option>
                    <id>1</id>
                    <name>1</name>
                </option>
                <option>
                    <id>2</id>
                    <name>2</name>
                </option>
                <option>
                    <id>3</id>
                    <name>3</name>
                </option>
                <option>
                    <id>4</id>
                    <name>4</name>
                </option>
                <option>
                    <id>5</id>
                    <name>5</name>
                </option>
                <option>
                    <id>6</id>
                    <name>6</name>
                </option>
                <option>
                    <id>7</id>
                    <name>7</name>
                </option>
                <option>
                    <id>8</id>
                    <name>8</name>
                </option>
                <option>
                    <id>9</id>
                    <name>9</name>
                </option>
                <option>
                    <id>10</id>
                    <name>10</name>
                </option>
            </options>
            <defaultValue>5</defaultValue>
        </input-field>
        <input-field type="single-select">
            <name>searchPageTypes</name>
            <label>Page Types</label>
            <label lang="de-DE">Seitentypen</label>
            <options>
                <option>
                    <id>all</id>
                    <name>All</name>
                    <name lang="de-DE">Alle</name>
                </option>
            </options>
            <defaultValue>all</defaultValue>
        </input-field>
        <input-field type="text">
            <name>searchPageContent</name>
            <label>Content</label>
            <label lang="de-DE">Inhalt</label>
            <defaultValue>search-page</defaultValue>
        </input-field>
    </card>

    <!--    Faceted Search Settings    -->
    <card>
        <title>Faceted Search Settings</title>
        <title lang="de-DE">Facettierte Sucheinstellungen</title>
        <input-field type="single-select">
            <name>facetedSearchEnabled</name>
            <label>Status</label>
            <label lang="de-DE">Status</label>
            <options>
                <option>
                    <id>true</id>
                    <name>Enabled</name>
                    <name lang="de-DE">aktiviert</name>
                </option>
                <option>
                    <id>false</id>
                    <name>Disabled</name>
                    <name lang="de-DE">deaktiviert</name>
                </option>
            </options>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field type="text">
            <name>facetedSearchAttributes</name>
            <label>Attributes</label>
            <label lang="de-DE">Attribute</label>
            <defaultValue>price,categories,brand</defaultValue>
        </input-field>
        <input-field type="text">
            <name>facetedSearchAttributeTitles</name>
            <label>Facet Titles</label>
            <label lang="de-DE">Facettentitel</label>
            <defaultValue>price:Price,categories:Categories,brand:Brand</defaultValue>
        </input-field>
        <input-field type="text">
            <name>facetedSearchMultiSelectAttributes</name>
            <label>Multi Select Attributes</label>
            <label lang="de-DE">Mehrfachauswahlattribut</label>
            <defaultValue>categories,brand</defaultValue>
        </input-field>
        <input-field type="text">
            <name>facetedSearchDesign</name>
            <label>Design</label>
            <label lang="de-DE">Entwurf</label>
            <defaultValue></defaultValue>
        </input-field>
    </card>

    <!--    Products Settings    -->
    <card>
        <title>Products Settings</title>
        <title lang="de-DE">Produkteinstellungen</title>
        <input-field type="single-select">
            <name>productRecommendationsEnabled</name>
            <label>Status</label>
            <label lang="de-DE">Status</label>
            <options>
                <option>
                    <id>true</id>
                    <name>Enabled</name>
                    <name lang="de-DE">aktiviert</name>
                </option>
                <option>
                    <id>false</id>
                    <name>Disabled</name>
                    <name lang="de-DE">deaktiviert</name>
                </option>
            </options>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field type="single-select">
            <name>productRecommendationsLocation</name>
            <label>Hook Location</label>
            <label lang="de-DE">Hook Bereich</label>
            <options>
                <option>
                    <id>cross</id>
                    <name>Cross Selling Block</name>
                    <name lang="de-DE">Cross-Selling Bereich</name>
                </option>
                <option>
                    <id>desc</id>
                    <name>After Description</name>
                    <name lang="de-DE">Nach Beschreibung</name>
                </option>
            </options>
            <defaultValue>cross</defaultValue>
        </input-field>
        <input-field type="text">
            <name>productRecommendationsContent</name>
            <label>Content</label>
            <label lang="de-DE">Inhalt</label>
            <defaultValue>product-page-alternatives,product-page-others-also-bought</defaultValue>
        </input-field>
        <input-field type="single-select">
            <name>productRecommendationsFilterDuplicates</name>
            <label>Filter Duplicates</label>
            <label lang="de-DE">Duplikate filtern</label>
            <options>
                <option>
                    <id>true</id>
                    <name>Enabled</name>
                    <name lang="de-DE">aktiviert</name>
                </option>
                <option>
                    <id>false</id>
                    <name>Disabled</name>
                    <name lang="de-DE">deaktiviert</name>
                </option>
            </options>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>

    <!--    Category Settings    -->
    <card>
        <title>Category Settings</title>
        <title lang="de-DE">Kategorieeinstellungen</title>
        <input-field type="single-select">
            <name>categoryRecommendationsEnabled</name>
            <label>Status</label>
            <label lang="de-DE">Status</label>
            <options>
                <option>
                    <id>true</id>
                    <name>Enabled</name>
                    <name lang="de-DE">aktiviert</name>
                </option>
                <option>
                    <id>false</id>
                    <name>Disabled</name>
                    <name lang="de-DE">deaktiviert</name>
                </option>
            </options>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field type="text">
            <name>categoryRecommendationsContent</name>
            <label>Content</label>
            <label lang="de-DE">Inhalt</label>
            <defaultValue>category-page-popular</defaultValue>
        </input-field>
        <input-field type="single-select">
            <name>categoryRecommendationsFilterDuplicates</name>
            <label>Filter Duplicates</label>
            <label lang="de-DE">Duplikate filtern</label>
            <options>
                <option>
                    <id>true</id>
                    <name>Enabled</name>
                    <name lang="de-DE">aktiviert</name>
                </option>
                <option>
                    <id>false</id>
                    <name>Disabled</name>
                    <name lang="de-DE">deaktiviert</name>
                </option>
            </options>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>

    <!--    Cart Settings    -->
    <card>
        <title>Cart Settings</title>
        <title lang="de-DE">Warenkorb-Einstellungen</title>
        <input-field type="single-select">
            <name>cartRecommendationsEnabled</name>
            <label>Status</label>
            <label lang="de-DE">Status</label>
            <options>
                <option>
                    <id>true</id>
                    <name>Enabled</name>
                    <name lang="de-DE">aktiviert</name>
                </option>
                <option>
                    <id>false</id>
                    <name>Disabled</name>
                    <name lang="de-DE">deaktiviert</name>
                </option>
            </options>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field type="text">
            <name>cartRecommendationsContent</name>
            <label>Content</label>
            <label lang="de-DE">Inhalt</label>
            <defaultValue>cart-others-also-bought</defaultValue>
        </input-field>
        <input-field type="single-select">
            <name>cartRecommendationsFilterDuplicates</name>
            <label>Filter Duplicates</label>
            <label lang="de-DE">Duplikate filtern</label>
            <options>
                <option>
                    <id>true</id>
                    <name>Enabled</name>
                    <name lang="de-DE">aktiviert</name>
                </option>
                <option>
                    <id>false</id>
                    <name>Disabled</name>
                    <name lang="de-DE">deaktiviert</name>
                </option>
            </options>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>

    <!--    Exit Intent Settings    -->
    <card>
        <title>Exit Intent Settings</title>
        <title lang="de-DE">Exit Intent-Empfehlungen (Ausstiegsabsicht)</title>
        <input-field type="single-select">
            <name>exitIntentRecommendationsEnabled</name>
            <label>Status</label>
            <label lang="de-DE">Status</label>
            <options>
                <option>
                    <id>true</id>
                    <name>Enabled</name>
                    <name lang="de-DE">aktiviert</name>
                </option>
                <option>
                    <id>false</id>
                    <name>Disabled</name>
                    <name lang="de-DE">deaktiviert</name>
                </option>
            </options>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field type="text">
            <name>exitIntentRecommendationsContent</name>
            <label>Content</label>
            <label lang="de-DE">Inhalt</label>
            <defaultValue>exit-intent</defaultValue>
        </input-field>
    </card>

    <!--    Powerstep Settings    -->
    <card>
        <title>Powerstep Settings</title>
        <title lang="de-DE">Powerstep-Einstellungen</title>
        <input-field type="single-select">
            <name>PowerstepRecommendationsEnabled</name>
            <label>Status</label>
            <label lang="de-DE">Status</label>
            <options>
                <option>
                    <id>true</id>
                    <name>Enabled</name>
                    <name lang="de-DE">aktiviert</name>
                </option>
                <option>
                    <id>false</id>
                    <name>Disabled</name>
                    <name lang="de-DE">deaktiviert</name>
                </option>
            </options>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field type="single-select">
            <name>PowerstepRecommendationsType</name>
            <label>Type</label>
            <label lang="de-DE">Typ</label>
            <options>
                <option>
                    <id>page</id>
                    <name>Page</name>
                    <name lang="de-DE">als Seite</name>
                </option>
                <option>
                    <id>popup</id>
                    <name>Popup</name>
                    <name lang="de-DE">als Popup</name>
                </option>
                <option>
                    <id>sidecart</id>
                    <name>Side Cart</name>
                    <name lang="de-DE">als Beistellwagen</name>
                </option>
            </options>
            <defaultValue>popup</defaultValue>
        </input-field>
        <input-field type="text">
            <name>PowerstepRecommendationsContent</name>
            <label>Content</label>
            <label lang="de-DE">Inhalt</label>
            <defaultValue>power-step-others-also-bought, power-step-visitor-complementary, power-step-popular, power-step-popular-on-sale</defaultValue>
        </input-field>
        <input-field type="single-select">
            <name>PowerstepRecommendationsFilterDuplicates</name>
            <label>Filter Duplicates</label>
            <label lang="de-DE">Duplikate filtern</label>
            <options>
                <option>
                    <id>true</id>
                    <name>Enabled</name>
                    <name lang="de-DE">aktiviert</name>
                </option>
                <option>
                    <id>false</id>
                    <name>Disabled</name>
                    <name lang="de-DE">deaktiviert</name>
                </option>
            </options>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>
</config>

