{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block utilities_offcanvas_content %}
  {{ parent() }}
  <div id="test-content-stubbe">
    <p>HELLO</p>
  </div>
{% endblock %}
